.explore {
    z-index: 1;
    top: 30%;
    padding: 0 25%;
}

.title {
    font-size: 3rem;
}

.carousel-item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
    padding: 0 30%;
}

.ad {
    background-color: #e6f2ff;
}